@model BirdFarm.ModelsBD.Credit
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/css/Home.css" rel="stylesheet" />
    <link href="~/css/Auth.css" rel="stylesheet" />
    <title>Add Credit</title>
     <style>
        body.back {
            background-image: url("/css/2.jpg");
            background-size: cover;
            background-attachment: fixed;
        }

        .back form{
            background-color: rgb(255, 255, 255, 0.7);
        }
    </style>
</head>
<body class="back">
    <header class="header_up">
        <a class="logout-button" asp-area="" asp-controller="Home" asp-action="Logout">Log out</a>
        <a asp-area="" asp-controller="Admin" asp-action="Tools">Tools</a>
    </header>
    
        <div>
            <div >

            <form asp-area="" asp-controller="Admin" asp-action="SaveAddCredit" method="post">
                    <!-- Specify the path to the server-side handler -->
                    <label for="name">Name:</label>
                    <input type="text" id="name" name="Name" required>

                  

                    <label for="procent">Interest Rate:</label>
                    <input type="number" id="procent" name="Procent" step="0.01" required>

                    <label for="month">Months:</label>
                    <input type="number" id="month" name="Month" required>


                <input style="background-color:yellow; color:black" type="submit" value="Add Credit">
                </form>
            </div>
        </div>
</body>
</html>
