@model BirdFarm.ModelsBD.User
@{
    ViewData["Title"] = "Редактирование";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/css/Home.css" rel="stylesheet" />
    <link href="~/css/Auth.css" rel="stylesheet" />
    <title>Редактировать пользователя</title>
    <style>
        body.back {
            background-image: url("/css/2.jpg");
            background-size: cover;
            background-attachment: fixed;
        }

        .back form {
            background-color: rgb(255, 255, 255, 0.7);
        }
    </style>
</head>
<body class="back">
    <header class="header_up">
        <a class="logout-button" asp-area="" asp-controller="Home" asp-action="Logout">Выйти</a>
        @if (User.IsInRole("Admin"))
        {
            <a asp-area="" asp-controller="Admin" asp-action="Tools">Главное меню</a>
        }
        else
        {
            <a asp-area="" asp-controller="User" asp-action="UserTools">Главное меню</a>
        }

    </header>
    <form asp-controller="Admin" asp-action="UpdateUser" method="post">
        <input type="hidden" asp-for="Id" />
        <div>
            <label>Email:</label>
            <input type="email" asp-for="Email" />
        </div>
        <div>
            <label>Пароль:</label>
            <input type="text" asp-for="Password" />
        </div>
        <div>
            <label>Имя:</label>
            <input type="text" asp-for="Name" />
        </div>
        <div>
            <label>Фамилия:</label>
            <input type="text" asp-for="FirstName" />
        </div>
        <div>
            <label>Отчество:</label>
            <input type="text" asp-for="LastName" />
        </div>
        <div>
            <label>Телефон:</label>
            <input type="text" asp-for="Phone" />
        </div>
        <div>
            <label>Поручители:</label>
            <input type="text" asp-for="Guarantors" />
        </div>
        <div>
            <label>Зарплата (BYN):</label>
            <input type="number" asp-for="Salary" />
        </div>
        <div>
            <label>Опыт работы (месяцы):</label>
            <input type="number" asp-for="WorkEx" />
        </div>
        <div>
            <label>Документ:</label>
            <input type="text" asp-for="Document" />
        </div>
        @if (User.IsInRole("Admin"))
        {
            <div>
                <label asp-for="Role">Роль:</label>
                <select asp-for="Role">
                    <option value=@Model.Role>@Model.Role.ToString()</option>
                    @if (Model.Role.ToString() == "Admin")
                    {
                        <option value="0">Пользователь</option>
                    }
                    else
                    {
                        <option value="1">Администратор</option>
                    }

                </select>
                <span asp-validation-for="Role"></span>
            </div>
        }

        <input style="background-color:yellow; color:black" type="submit" value="Сохранить">
    </form>
</body>
</html>