
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="~/css/Home.css">
    <style>
        body.back {
            background-image: url("/css/4.jpg");
            background-size: cover;
            background-attachment: fixed;
        }
    </style>
</head>
<body class="back">
    <header>
        <div class="header_up">
            <a href="/auth/authpage"><i class="fas fa-sign-in-alt"></i> Войти</a>
            <a style="background-color: yellow; color: black" class="abutton" href="/auth/regpage"><i class="fas fa-user-plus"></i> Зарегистрироваться</a>
        </div>
    </header>

    <div>
        <h1 style="color: rgb(39, 37, 37);"><strong>Добро пожаловать в Онлайн Банк</strong></h1>
        <p style="color: rgb(39, 37, 37);">Чтобы получить доступ к контенту, вам необходимо <a style="color: yellow;" href="/auth/authpage">войти</a> или <a style="color: yellow;" href="/auth/regpage">зарегистрироваться</a></p>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js"></script>
</body>
</html>

