@model BirdFarm.ModelsBD.User
@{
    ViewData["Title"] = "Регистрация";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <link href="~/css/Auth.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/Home.css">
    <meta charset="UTF-8">
    <style>
        header {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 20px; /* Подгоните высоту по необходимости */
            background-color: #333; /* Опциональный цвет фона */
        }

            header p {
                color: white;
                font-size: 24px; /* Подгоните размер шрифта по необходимости */
            }

        .checkbox-group {
            margin-top: 10px;
        }

        .checkbox-label {
            margin-right: 10px;
        }
    </style>
    <style>
        body.back {
            background-image: url("/css/2.jpg");
            background-size: cover;
            background-attachment: fixed;
        }

        .back form {
            background-color: rgb(255, 255, 255, 0.7);
        }
    </style>
</head>

<body class="back">
    <header>
        <div>
            <p>Регистрация</p>
        </div>
    </header>
    <form id="registration-form" method="post" asp-action="RegPage" asp-controller="Auth">
        <div>
            <label>Email:</label>
            <input type="email" asp-for="Email" maxlength="32" required />
        </div>
        <div>
            <label>Пароль:</label>
            <input type="password" asp-for="Password" maxlength="32" minlength="12" required />
        </div>
        <div>
            <label>Имя:</label>
            <input type="text" asp-for="Name" maxlength="50" required />
        </div>
        <div>
            <label>Имя:</label>
            <input type="text" asp-for="FirstName" maxlength="50" required />
        </div>
        <div>
            <label>Фамилия:</label>
            <input type="text" asp-for="LastName" maxlength="50" required />
        </div>
        <div>
            <label>Телефон:</label>
            <input type="text" asp-for="Phone" maxlength="20" />

        </div>
        <div class="checkbox-group">
            <input type="checkbox" id="dataFZSN" required>
            <label for="dataFZSN" class="checkbox-label">Разрешаю предоставление моих данных из ФЗСН</label>
        </div>
        <div class="checkbox-group">
            <input type="checkbox" id="dataProcessing" required>
            <label for="dataProcessing" class="checkbox-label">Предоставляю разрешение на обработку моих персональных данных</label>
        </div>
        <section>
            <p style="background-color: yellowgreen">Не обязательно</p>
           
            <div>
                <label>Поручители:</label>
                <input type="text" asp-for="Guarantors" />
            </div>
            <div>
                <label>Зарплата (BYN):</label>
                <input type="number" asp-for="Salary" />
            </div>
            <div>
                <label>Опыт работы (месяцы):</label>
                <input type="number" asp-for="WorkEx" />
            </div>
            <div>
                <label>Документ:</label>
                <input type="text" asp-for="Document" />
            </div>
            <div>
                <input style="background-color: gray; color: white" type="submit" value="Регистрация" onclick="return validateForm()">
            </div>
        </section>
    </form>

    <script>
        function validateForm() {
            var dataFZSNCheckbox = document.getElementById("dataFZSN");
            var dataProcessingCheckbox = document.getElementById("dataProcessing");
            if (!dataFZSNCheckbox.checked || !dataProcessingCheckbox.checked) {
                alert("Пожалуйста, отметьте оба чекбокса");
                return false;
            }
            return true;
        }
    </script>
</body>
</html>
